<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjgf.hadoop.mapper.impala.ImpalaTestMapper">

    <select id="getMapList" resultType="java.util.Map">
        select * from act_defbr_ctxt limit 5
    </select>
</mapper>
